@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header{
    display: flex;
    width: 100%;
    height: 114px;
    justify-content: space-between;
    background-color: #13171C;
    align-items: center;
    border-bottom: solid 0.5px #262e38;
}
@media(min-width:960px){
    .header{
        justify-content:space-between;
        color: white;
    }
}

.contenedor-logo{
    margin-left: 20px;
}

.abre-ventana{
    background-image: url(../../media/imgs/menu-svgrepo-com\ 1.png);
    width: 45px;
    height: 45px;
    background-color: #13171C;
    margin-right: 20px;
}
@media(min-width:960px){
    .abre-ventana{
        display: none;
    }
}

.contenedor-links-header{
    display: none;

}
@media(min-width:960px){
    .contenedor-links-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 327px;
        height: 47px;
    }

    .contenedor-porfolio-header{
        color: white;
        text-decoration: none;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 400;
    }

    .contenendor-servicios-header{
        color: white;
        text-decoration: none;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 400;
    }

    .contenendor-contacto-header{
        color: white;
        text-decoration: none;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 400;
    }
}


